= render 'admins/shared/header'
= render 'admins/shared/sidebar'
.container.mt-5
  .row
    .card{class: "card-#{cookies[:theme]}"}
      .card-body
        .row 
          .col-10.text-start 
            %h5= "#{@qna.subject.titleize}"
          .col-2
            = link_to  "Disable", admins_qna_finish_path(qna_id: @qna.id), class: "btn btn-danger"
          .col-xl-10.col-lg-10.col-md-12.ms-auto.me-auto
            %p= @qna.question

