<p>Hi, </p>

<p>A form has been submited.</p>

<p><strong>Full Name:</strong> <%=@contact.full_name%></p>
<p><strong>Email:</strong> <a href="<%=@contact.email%>"><%=@contact.email%></a></p>
<p><strong>Phone Number:</strong> <a href="tel: <%=@contact.phone_number%>"><%=@contact.phone_number%></a></p>
<p><strong>Message:</strong></p>
<p><%=@contact.message%></p>