= render 'users/shared/header'
= hidden_field_tag "chat_id", @qna.chat.id, id: "chat_id" if @qna.chat.present?
= hidden_field_tag "qna_id", @qna.id, id: "qna_id"
= hidden_field_tag "type", "user", id: "type"
-unless @qna.status == "assigned"
  .row.text-center
    .col-lg-12.col-md-12.col-sm-12.alert.mt-3.mb-3{class: "alert-danger"}
      No tutor has accepted yet

.container.mt-5
  .row
    .card{class: "card-#{cookies[:theme]}"}
      .card-body
        .row 
          .col-sm-6.col-md-10.text-start 
            %h5= "#{@qna.subject.titleize}"
          .col-sm-6.col-md-2
            -if @qna.status == "assigned"
              = link_to  "Finish", qna_finish_path(qna_id: @qna.id), class: "btn btn-success"
          .col-xl-10.col-lg-10.col-md-12.ms-auto.me-auto
            %p= @qna.question
  .row.mt-3.mb-5
    .card{class: "card-#{cookies[:theme]}", style: "padding-bottom: 10px; padding-top: 10px"}
      .card-body{style: "padding: 0"}
        .container-fluid#messages{style: "overflow: auto; height: 550px;"}
          -if @qna.chat.present?
            - @qna.chat.messages.order(id: :asc).each do |msg|
              - if msg.sendable_type == "User"
                .row.mt-3
                  .col-sm-12.col-md-6.ms-auto.text-white.rounded.pt-2
                    -# {style: "background: #24a64d"}
                    %div.ms-auto.rounded{style: "padding: 10px; width: 20em; background: #24a64d"}
                      %div.ms-auto{style: "width: -moz-fit-content; width: fit-content; font-size: 0.9rem"}You
                      %div.ms-auto{style: "width: -moz-fit-content; width: fit-content"}= msg.content
                      - if msg.document.attached?
                        %div.ms-auto{style: "width: -moz-fit-content; width: fit-content"}
                          -# %a{href: msg.document} Document
                          = link_to  "Download", rails_blob_path(msg.document, disposition: 'attachment')
              - else 
                .row.mt-3
                  .col-sm-12.col-md-6.me-auto.text-white.rounded.pt-2
                    -# {style: "background: #24a64d"}
                    %div.me-auto.rounded{style: "padding: 10px; width: 20em; background: #c97b0c"}
                      %div.me-auto{style: "width: -moz-fit-content; width: fit-content"}Tutor012345
                      %div.me-auto{style: "width: -moz-fit-content; width: fit-content"}= msg.content
                      - if msg.document.attached?
                        %div.me-auto{style: "width: -moz-fit-content; width: fit-content"}
                          -# %a{href: msg.content} Document
                          = link_to "Download", rails_blob_path(msg.document, disposition: 'attachment')
        .container#text-box.mt-3
          - if @qna.chat.present?
            = form_for @message, url: qna_chat_messages_path(qna_id: @qna.id, chat_id: @qna.chat.id) do |f|
              .row
                .col-4
                  = f.file_field :document, class: "form-control"
                .col-8
                  = f.text_field :content, class: "form-control", autocomplete: 'off'
              -# .row
              -#   .col-4
              -#     = file_field_tag "document", class: "form-control"
              -#   .col-8
              -#     = text_field_tag "content", "", class: "form-control"
= javascript_pack_tag 'messages/new'
:javascript
  var element = document.getElementById("messages");
  element.scrollTop = element.scrollHeight;
