= render 'admins/shared/header'
= render 'admins/shared/sidebar'
.row 
  .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto   
    .container.mt-5.mb-5
      .card
        .card-body
          .row.mb-3
            .col-6.text-start
              %h4= "#{@professor.name} - #{@professor.subject}"
              %h4= @professor.school_id.present? ? @professor.school.name : @professor.school_name
              = form_for @professor, url: admins_prof_review_approve_path(prof_review_id: @professor.id), method: :post do |f| 
                %input#hiddenProfId{name: "prof_id", type: "hidden"}
                .autocomplete
                  %h6 Pick a professor *ignore if new professor
                  %input#myInput.form-control{name: "proffff", type: "text", autocomplete: "off"}/
                .mt-3#prof_review_content_div
                  %h6.mt-2 Subject
                  %input#subject.form-control{name: "subject", type: "text", required: true}/
                  %h6.mt-2 Comment
                  %textarea#prof_review_content.form-control{name: "our_comment", rows: "2"}
                .mt-3.mb-3
                  = f.submit "Create", class: "btn btn-success"
                  %a#resetBtn.btn.btn-primary Reset
            .col-6
              %h5 Overall Grading
              .row.mt-3
                .col-12
                  .progress.bg-cheko{style: "height: 30px"}
                    .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.easiness}%;"}
                      %h5.mt-2.ms-3.text-start.text-dark= "Easisness: #{@professor.easiness}%"
                .col-12.mt-3
                  .progress.bg-cheko{style: "height: 30px"}
                    .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.effectiveness}%;"}
                      %h5.mt-2.ms-3.text-start.text-dark= "Effectiveness: #{@professor.effectiveness}%"
                .col-12.mt-3
                  .progress.bg-cheko{style: "height: 30px"}
                    .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.life_changing}%;"}
                      %h5.mt-2.ms-3.text-start.text-dark= "Life Changing: #{@professor.life_changing}%"
                .col-12.mt-3
                  .progress.bg-cheko{style: "height: 30px"}
                    .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.light_workload}%;"}
                      %h5.mt-2.ms-3.text-start.text-dark= "Light Workload: #{@professor.light_workload}%"
                .col-12.mt-3.mb-3
                  .progress.bg-cheko{style: "height: 30px"}
                    .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.light_workload}%;"}
                      %h5.mt-2.ms-3.text-start.text-dark= "Leniency: #{@professor.leniency}%"
                .col-6.mb-3
                  %h3.text-end Average:
                .col-6.mb-3
                  %h3.text-start= "#{@professor.average}%"
            %hr
            %h5 Additional Metrics
            .row.mt-3.mb-3
              .col-6
                %h5.mt-2.ms-3.text-start= "A-able: #{@professor.a_able}%"
                .progress.mt-3.bg-cheko{style: "height: 30px;"}
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.a_able}%;"}
                %h5.mt-2.ms-3.text-start= "B+-able: #{@professor.b_pls_able}%"
                .progress.mt-3.bg-cheko{style: "height: 30px;"}
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.b_pls_able}%;"}
                %h5.mt-2.ms-3.text-start= "B-able: #{@professor.b_able}%"
                .progress.mt-3.bg-cheko{style: "height: 30px;"}
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.b_able}%;"}
                %h5.mt-2.ms-3.text-start= "C-able: #{@professor.c_able}%"
                .progress.mt-3.bg-cheko{style: "height: 30px;"}
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.c_able}%;"}
              .col-6
                %h5.mt-2.ms-3.text-start= "Batch 1-able: #{@professor.batch1_able}%"
                .progress.mt-3.bg-cheko{style: "height: 30px;"}
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.batch1_able}%;"}
                %h5.mt-2.ms-3.text-start= "Batch 2-able: #{@professor.batch2_able}%"
                .progress.mt-3.bg-cheko{style: "height: 30px;"}
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.batch2_able}%;"}
                %h5.mt-2.ms-3.text-start= "Batch 3-able: #{@professor.batch3_able}%"
                .progress.mt-3.bg-cheko{style: "height: 30px;"}
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.batch3_able}%;"}
                %h5.mt-2.ms-3.text-start= "Batch 4-able: #{@professor.batch4_able}%"
                .progress.bg-cheko{style: "height: 30px;"}
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", role: "progressbar", style: "width: #{@professor.batch4_able}%;"}
            %hr
            %h5 Comments
            %p= @professor.content
                  
= javascript_pack_tag 'professors/approve'