%tr
  %td= home.created_at.strftime("%b %d, %Y")
  %td= home.order_type.titleize
  %td= home.sub_type.titleize
  %td= home.deadline.strftime("%b %d, %Y - %l:%M %p") if home.deadline.present?
  %td= home.subject.titleize
  %td= home.tutor_category.titleize
  %td= home.words
  %td= home.tutor_samples.to_s.capitalize
  %td= home.tutor_skills.to_s.capitalize
  %td= home.view_bidders.to_s.capitalize
  %td= home.priority.to_s.capitalize
  %td= home.login_school.to_s.capitalize
  %td
    = link_to :show, admins_homework_path(home)
    - if home.admin_id == current_admin.id || current_admin.role == 'super_admin'
      = link_to :edit, edit_admins_homework_path(home)
    - elsif home.admin_id.nil?
      = link_to :assign, admins_homework_assign_path(homework_id: home.id), method: :put
    - if current_admin.role == 'super_admin'
      = link_to :delete, admins_homework_path(home), method: :delete