= form_for @homework, url: admins_homework_path, method: :put do |f|
  .mb-3
    .field
      = f.label "Team Lead", class: "form-label"
      = f.select(:admin_id, @leads.collect{|l| [l.name, l.id]}, {include_blank: true }, class: "form-control")
  .mb-3
    .field
      = f.label "Task Manager", class: "form-label"
      = f.select(:manager_id, @managers.collect{|l| [l.name, l.id]}, {include_blank: true }, class: "form-control")
  .mb-3
    .field
      = f.label "Tutor", class: "form-label"
      = f.select(:tutor_id, @tutors.collect{|l| [l.name, l.id]}, {include_blank: true }, class: "form-control")
  .mb-3 
    .field
      = f.label :tutor_price, class: "form-label"
      = f.text_field :tutor_price, class: "form-control", value: @homework.tutor_price
  .mb-3 
    .field
      = f.label :price, class: "form-label"
      = f.text_field :price, class: "form-control", value: @homework.price
  .mb-3 
    .field
      = f.label :internal_deadline, class: "form-label"
      = f.datetime_field :internal_deadline, class: "form-control"
  .mb-3
    .actions
      = f.submit "Assign", class: "btn btn-primary"