= render 'admins/shared/header'
= render 'admins/shared/sidebar'
.row 
  .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto 
    .container.mt-5
      %h4= @homework.order_type.titleize
  .col-6.ms-auto.me-auto 
    .card
      .card-body
        .row.mt-3
          .col-6
            %h5= "Order ID: #{@homework.id}"
            %h5 User:
            %p= @homework.user.name
          .col-6.text-end
            -if @homework.status == "ongoing" || @homework.status == "finished_by_tutor"
              %a.btn.btn-success.float-end{href: admins_homework_finish_homework_path(@homework.id), data: {method: :put}} Finish order
            %button.btn.btn-primary.me-3{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", type: "button"}
              Files
          .col-6
            %h5 Deadline:
            %p= @homework.deadline
          .col-6
            %h5 Subject:
            %p= @homework.subject_id.present? ? @homework.subject.name : "None Provided"
          .col-6
            %h5 Words:
            %p= @homework.words
          .col-6
            %h5 Target Grade:
            %p= @homework.grade
        - if @homework.hw_attachment.attached?
          .row
            .col-12
              %h6 Download file
              - @homework.hw_attachment.each do |attachment|
                =link_to attachment.filename, rails_blob_path(attachment, disposition: 'attachment'),class: "btn btn-success"  
        %hr
        .row.mt-3.d-flex.justify-content-center
          .col-2
            %h6 Priority
            - if @homework.priority?
              %button.btn.btn-success.btn-sm{type: "button"}= @homework.priority.to_s.capitalize
            -else 
              %button.btn.btn-danger.btn-sm{type: "button"}= @homework.priority.to_s.capitalize
          .col-2
            %h6 Tutor skills
            - if @homework.tutor_skills?
              %button.btn.btn-success.btn-sm{type: "button"}= @homework.tutor_skills.to_s.capitalize
            -else 
              %button.btn.btn-danger.btn-sm{type: "button"}= @homework.tutor_skills.to_s.capitalize
          .col-2
            %h6 Tutor Samples
            - if @homework.tutor_samples?
              %button.btn.btn-success.btn-sm{type: "button"}= @homework.tutor_samples.to_s.capitalize
            -else 
              %button.btn.btn-danger.btn-sm{type: "button"}= @homework.tutor_samples.to_s.capitalize
          .col-2
            %h6 View Bidders
            - if @homework.view_bidders?
              %button.btn.btn-success.btn-sm{type: "button"}= @homework.view_bidders.to_s.capitalize
            -else 
              %button.btn.btn-danger.btn-sm{type: "button"}= @homework.view_bidders.to_s.capitalize
          .col-2
            %h6 Login School
            - if @homework.login_school?
              %button.btn.btn-success.btn-sm{type: "button"}= @homework.login_school.to_s.capitalize
            -else 
              %button.btn.btn-danger.btn-sm{type: "button"}= @homework.login_school.to_s.capitalize
        %hr
        .row
          .col-12 
            %h5 Details:
            %p= @homework.details
          
-unless @homework.status == "done"
  .row.mt-5
    .col-6.ms-auto.me-auto 
      .card
        .card-body
          .row.mt-3
            .col-6 
              %h5= "Tutors Interested: #{@bids.present? ? @bids.count : 0}"
            .col-6.text-end
              - if @homework.tutor_id.present?
                %h5= "Assigned: #{@homework.tutor.name}"
            .col-12
              .table-responsive
                %table.table
                  %thead
                    %tr
                      %th.text-start Tutor
                      %th.text-start Offer
                      %th.text-end
                  %tbody
                    - unless @bids.blank?
                      - @bids.each do |bid|
                        %tr
                          %td.text-start= bid.tutor.name
                          %td.text-start= bid.ammount
                          %td.text-end
                            - if @homework.tutor_id == bid.tutor_id
                              %a{href: admins_homework_assign_tutor_path(homework_id: @homework.id, bid_id: bid.id), data: {method: :put}, class: "btn btn-primary disabled", disabled: true} Assigned
                            - else 
                              %a{href: admins_homework_assign_tutor_path(homework_id: @homework.id, bid_id: bid.id), data: {method: :put}, class: "btn btn-primary"} Assign
                            
                    -else
                      %td No Data found

.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1", id: "exampleModal"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title= @homework.name
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      .modal-body
        .row.mt-3
          %h5 Uploaded files
          .container-flex.mt-2
            %h6 
              %strong Tutor files:
            - @tutor.each do |docu|
              .row.d-flex.justify-content-between
                .col-3
                  = docu.file.filename
                .col-3.text-end
                  = link_to "Download File", rails_blob_path(docu.file, disposition: 'attachment'),class: "btn btn-success"
              %hr
          .container-flex.mt-2
            %h6 
              %strong Quality Control Officer files:
            - @qco.each do |docu|
              .row.d-flex.justify-content-between
                .col-3
                  = docu.file.filename
                .col-3.text-end
                  = link_to "Download File", rails_blob_path(docu.file, disposition: 'attachment'),class: "btn btn-success"
              %hr
          .container-flex.mt-2 
            %h6 
              %strong Admin Files:
            =form_for @homework.documents.new, url: admins_homework_upload_path(homework_id: @homework.id) do |f|
              .row.d-flex.justify-content-between
                .col-12
                  //%h5 Upload File
                .col-10
                  = f.file_field "file", class: "form-control"
                .col-2.text-end
                  = submit_tag "Upload", class: "btn btn-primary disabled", id: "uploadButton"
              .row.mt-3
                %h5 Uploaded files:
                .container-flex.mt-2
                  - @admin.each do |docu|
                    .row.d-flex.justify-content-between
                      .col-3
                        = docu.file.filename
                      .col-3.text-end
                        = link_to "Download File", rails_blob_path(docu.file, disposition: 'attachment'),class: "btn btn-success"
                    %hr             
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", type: "button"} Close

= javascript_pack_tag 'admins/homework'