= form_for @homework, url: users_homeworks_path, method: :post do |f|
  = f.hidden_field :order_type, :value => params[:type]
  .mb-3
    .field
      = f.label "Type", class: "form-label"
      = f.select :sub_type, options_for_select([["Test" , "test" ], ["Problem Set" , "problem_set" ], ["Paper" , "paper" ]], selected: :sub_type), {include_blank: false}, class: "form-select"
  .mb-3
    .field
      = f.label :payment_type, class: "form-label"
      = f.select :payment_type, options_for_select([["GCash" , "gcash" ], ["Bank Transfer" , "bank" ]], selected: :payment_type), {include_blank: false} , class: "form-select"
  .mb-3
    .field
      = f.label :deadline, class: "form-label"
      = f.date_field :deadline, class: "form-control"
  -# .mb-3 
  -#   .field 
  -#     = f.label :tutor_category, "Pick a type of writer"
  -#     %br/
  -#     .form-check
  -#       = f.radio_button :tutor_category, true, class: "form-check-input"
  -#       = f.label :tutor_category, "A+ Writes", :value => 0, class: "form-check-label"
  -#     .form-check
  -#       = f.radio_button :tutor_category, false, class: "form-check-input"
  -#       = f.label :tutor_category, "Cheko Writers", :value => 1, class: "form-check-label"
  -#     .form-check
  -#       = f.radio_button :tutor_category, false, class: "form-check-input"
  -#       = f.label :tutor_category, "Standard Writers", :value => 2, class: "form-check-label"
  .mb-3
    .field
      = f.label :details, class: "form-label"
      = f.text_area :details, class: "form-control",  :rows => 10
  .mb-3.d-flex.flex-row
    .container.p-1
      = label_tag :view_skill, "View tutors skill profile for P100"
      .form-check.form-switch
        = check_box_tag "homeworks[tutor_skills]", true, false, class: "form-check-input"
    
    .container.p-1
      = label_tag :view_sample, "View tutors sample works for P100"
      .form-check.form-switch
        = check_box_tag "homeworks[tutor_samples]", true, false, class: "form-check-input"

    .container.p-1
      = label_tag :view_bidders, "View all bidders, their skill profiles and their sample works for P300"
      .form-check.form-switch
        = check_box_tag "homeworks[view_bidders]", true, false, class: "form-check-input"
        
    .container.p-1
      = label_tag :login_school, "Want us to login to your school account for P200"
      .form-check.form-switch
        = check_box_tag "homeworks[login_school]", true, false, class: "form-check-input"
        
    .container.p-1
      = label_tag :priority, "Make it a priority? +30%"
      .form-check.form-switch
        = check_box_tag "homeworks[priority]", true, false, class: "form-check-input"
  .mb-3
    .actions
      = f.submit "Create", class: "btn btn-primary"