= render 'users/shared/header'
.row 
  .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto 
    .container.mt-5
      .card 
        .card-body
          .row 
            .col-12.text-start 
              %h5 Add Homework
            .col-6.ms-auto.me-auto
              = form_for @homework, url: users_homeworks_path, method: :post do |f|
                .mb-3
                  .field
                    = f.label :details, class: "form-label"
                    = f.text_area :details, class: "form-control",  :rows => 10
                .mb-3
                  .field
                    = f.label "Target Words", class: "form-label"
                    = f.text_field :words, class: "form-control"
                .mb-3
                  .field
                    = f.label "Target Grade", class: "form-label"
                    = f.select :grade, options_for_select([["A" , "a" ], ["B" , "b" ], ["C" , "c" ]], selected: :grade), {include_blank: false}, class: "form-control"
                .mb-3
                  .field
                    = f.label :payment_type, class: "form-label"
                    = f.select :payment_type, options_for_select([["GCash" , "gcash" ], ["Bank Transfer" , "bank" ]], selected: :payment_type), {include_blank: false} , class: "form-control"
                .mb-3
                  .field
                    = f.label :deadline, class: "form-label"
                    = f.date_field :deadline, class: "form-control"
                -# .mb-3
                -#   .field
                -#     = label_tag "file", "Files", class: "form-label"
                -#     = file_field_tag "files", class: "form-control"
                .mb-3
                  .actions
                    = f.submit "Create", class: "btn btn-primary"