%main.h-screen.flex.relative
  = render "users/shared/sidebar"
  .flex.flex-col.p-4.flex-1.my-2.5.mr-2.5.rounded-lg.bg-neutral-900.border-1.border-neutral-700.overflow-auto
    .container.mt-5
      .card{class: "card-#{cookies[:theme]}"}
        .card-body
          .row
            .col-12.text-start
              %h5= "Q&A"
            .col-xl-8.col-lg-10.col-md-12.ms-auto.me-auto
              = form_for @qna, url: qnas_path, method: :post do |f|
                = f.hidden_field :qna_type, value: params[:type]
                .mb-3
                  .field
                    = f.label :subject, class: "form-label"
                    = f.text_field :subject, class: "form-control", required: true
                .mb-3
                  .field
                    = f.label :question, class: "form-label"
                    = f.text_area :question, class: "form-control", required: true
                .mb-3
                  .field
                    = f.label :document, "Files (optional) [Drag & Drop to Upload Files]", class: "form-label"
                    = f.file_field :document_attachments, class: "form-control", :multiple => true
                .mb-3
                  .actions
                    = f.submit "Create", class: "btn btn-primary"
