= render 'users/shared/header'

.container.my-5
  .row
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "mathQ.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Math
          %a.stretched-link{href: new_qna_path(type: "math")}
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "econq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Econ
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "econ")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "accountingq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Accounting
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "accounting")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "engiq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Engineering
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "engineering")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "machineq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Machine Learning
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "machine learning")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "lawq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Law
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "law")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "essayq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Essay
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "essay")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "programmingq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Programming
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "programming")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "roboticsq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Robotics
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "robotics")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "statq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Stat
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "stat")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "techq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Tech
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "tech")} Order
    .col-sm-12.col-md-3.mt-3
      .card.bg-dark.text-white
        = image_tag "othersq.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Others
          %a.btn.btn-primary.stretched-link{href: new_qna_path(type: "others")} Order
          
    -# .col-sm-12.col-md-12.col-lg-6.ms-auto.me-auto.mt-2.p-4
    -#   .d-grid.gap-5
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "math")}
    -#       .h2 Math
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "econ")}
    -#       .h2 Econ
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "accounting")}
    -#       .h2 Accounting
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "engineering")}
    -#       .h2 Engineering
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "machine learning")}
    -#       .h2 Machine Learning
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "law")}
    -#       .h2 Law
    -# .col-sm-12.col-md-12.col-lg-6.ms-auto.me-auto.mt-2.p-4
    -#   .d-grid.gap-5
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "essay")}
    -#       .h2 Essay
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "programming")}
    -#       .h2 Programming
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "robotics")}
    -#       .h2 Robotics
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "stat")}
    -#       .h2 Stat
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "tech")}
    -#       .h2 Tech
    -#     %a.btn.bg-cheko.text-white.btn-lg{href: new_qna_path(type: "others")}
    -#       .h2 Others