%main.h-screen.flex.relative
  = render "users/shared/sidebar"
  .flex.p-4.flex-1.items-center.justify-content-center.my-2.5.mr-2.5.rounded-lg.bg-neutral-900.border-1.border-neutral-700
    .bg-neutral-800.px-4.py-3.rounded-lg.border-1.border-neutral-700.w-full.h-full.relative
      .card-header.d-flex.align-items-center.py-3
        = image_tag("cheko_ai_profile.jpg", class:"rounded-full w-14 h-14")
        %div.flex.flex-col.justify-content-center.font-medium.pl-3
          %h2.text-white Cheko AI
          %p.mb-0.text-neutral-400 Ask me anything!
      .card-body
        .card-body-top
          #gpt-chat-container
            .chat-bubble-cheko.bg-neutral-700.text-white.border-1.border-neutral-500
              Hello! I'm Cheko, an AI-powered writing assistant to help you finish your homework fast!
          -# Loading animation (enabled/disabled when prompting)
          #cheko-loading-bubble.d-none.bg-neutral-700.border-1.border-neutral-500
            .loading-icon
              %span
              %span
              %span
        .prompt-container.absolute.bottom-5.w-full.left-0.px-10
          = form_tag do
            .form-group
              -# %label{for: "prompt"} Prompt
              %textarea.bg-neutral-600.border-1.border-neutral-500.placeholder-neutral-300.text-white.form-control#prompt{rows: "2"}(placeholder='Ask any question here. (Enter to send, Shift + Enter for new line)')
            = submit_tag "Send", class: "bg-cheko mt-2 text-white px-4 py-2 rounded-full", id: "generate-btn"
            %button.btn.btn-secondary.mt-2#humanize-text-button Humanize Text
            %button.btn.btn-secondary.mt-2#add-citations-button Add Citations

= javascript_pack_tag 'gpt3', 'data-turbolinks-track': 'reload'
