%main.h-screen.flex.relative.gpt-wrapper
  = render "users/shared/sidebar"
  .flex.flex-1.items-center.justify-content-center.my-3.mr-3.rounded-lg.p-0.ans-wrapper.bg-content-cheko
    .rounded-lg.border-1.border-neutral-700.w-full.h-full.relative.bg-content-cheko
      .card-header.d-flex.align-items-center.p-3.border-neutral-700.justify-content-between.border-bottom
        %div.flex.justify-content-center.font-medium.gap-2.align-items-center
          -if user_signed_in?
            = image_tag("cheko_ai_profile.jpg", class:"rounded-full w-8 h-8")
            %h6.text-white.m-0
              = current_user.name
          -else
            %a.cheko-text-1.rounded-md.bg-new-cheko.border-0.px-2.py-1.text-sm{href: new_user_session_path}
              %i.fa-solid.fa-arrow-right-to-bracket
              Login
            %a.cheko-text-1.rounded-md.bg-new-cheko.border-0.px-2.py-1.text-sm{href: new_user_registration_path}
              %i.fa-regular.fa-user
              Signup
        %span
          %h4.text-white.text-xl.font-extrabold#message_title{"contenteditable": true}
            - if @conversation.present?
              = @conversation.title_name
            - else
              New convo
          %input#conversation_id{name: "conversation_id", type: "hidden", value: (@conversation && @conversation.id)}/
          - if @conversation.present?
            %input#assistant_messages{name: "assistant_messages", type: "hidden", value: (raw @conversation.assistant_messages)}/
            %input#user_messages{name: "user_messages", type: "hidden", value: (raw @conversation.user_messages)}/

        %button#save_conversation_btn.cheko-text-1.rounded-md.bg-new-cheko.border-0.px-2.py-1.text-sm
          %i.fa-regular.fa-floppy-disk
          Save
        %span#saved_text.cheko-text-1.bg-new-cheko.border-0.px-2.py-1.text-sm.hidden
          %i.fa-regular.fa-floppy-disk
          Saved
      .card-body.px-10.py-3.cheko-chat-container
        .card-body-top#cheko-chat-sub-container
          #gpt-chat-container
            .chat-bubble-cheko.bg-new-cheko.text-white.border-0.text-base.font-semibold
              Hello! I'm Cheko, an AI-powered writing assistant to help you finish your homework fast!
            %div
              %span.cheko-text-1 Try Cheko AI ->
              %button.cheko-text-1.rounded-full.bg-content-cheko.border-1.cheko-border-color-1.px-2.py-1
                %i.fa-solid.fa-apple-whole.text-red-600
                Who invented gravity?
              %button.cheko-text-1.rounded-full.bg-content-cheko.border-1.cheko-border-color-1.px-2.py-1
                %i.fa-solid.fa-franc-sign.text-gray-600
                What is the meaning of "bonjour"?
            - if @conversation.present?
              - assistant_messages = @conversation.assistant_messages
              - @conversation.user_messages.each_with_index do |user_message, index|
                .chat-bubble-user.bg-new-cheko.text-white.border-0.text-base.font-semibold
                  = user_message
                - if assistant_messages && assistant_messages[index]
                  .pb-2
                    %span.title-header.text-xl.font-extrabold
                      %i.fa-solid.fa-align-left
                      Answer
                  .pb-4{style: "max-width: 75%;"}
                    .chat-bubble-cheko.bg-new-cheko.text-white.border-0.text-base.font-semibold
                      = assistant_messages[index]
                    .flex.flex-row.justify-between
                      %div
                        %button.chat-button
                          %i.fa-solid.fa-repeat{style: "color: #ffffff;"}
                          Rewrite
                        %button#humanize-btn.chat-button.pl-2.cheko-text-1
                          %i.fa-solid.fa-wand-magic-sparkles{style: "color: #ffffff;"}
                          Humanize
                      %dev
                        %button.chat-button.cheko-text-1
                          %i.fa-solid.fa-copy.cheko-text-1
                        %button.chat-button.pl-2.cheko-text-1
                          %i.fa-solid.fa-edit.cheko-text-1
                            .flex.flex-col.pb-4{style: "max-width: 75%;"}
                  - source_list = @sources.where(prompt_title: user_message).first
                  - if source_list.present?
                    .pt-4.pb-2
                      %span.title-header.text-xl.font-extrabold
                        %i.fa-solid.fa-list-ul{style: "color: #ffffff;"}
                        Sources
                    .flex.flex-row.justify-between
                      - source_list.result.each do |source|
                        .source-box
                          %a.source-link{href: source['link'], target: "_blank"}
                            = source['title']
                          .flex.flex-row
                            %img.size-5{src: source['faviconUrl']}/
                  - related_list = @relates.where(prompt_title: user_message).first
                  - if related_list.present?
                    %div{style: "max-width: 75%; margin-bottom: 16px;"}
                      .pt-4.pb-2
                        %span.title-header.text-xl.font-extrabold
                          %i.fa-solid.fa-layer-group{style: "color: #ffffff;"}
                          Related
                      - related_list.result.each do |related|
                        .related-question.cheko-border-color-1
                          = related
                          %i.fa-solid.fa-plus{style: "color: #ffffff;"}

          -# Loading animation (enabled/disabled when prompting)
          #cheko-loading-bubble.d-none.bg-new-cheko.text-white.border-0.text-md.font-semibold
            .loading-icon
              %span
              %span
              %span
          #auto-scroll-anchor
        .prompt-container.absolute.bottom-5.w-full.left-0.px-10
          %div.bg-new-cheko.p-2.rounded-full
            = form_tag do
              %label.sr-only{for: "chat"} Your message
              .flex.items-center.pr-3.rounded-full.bg-new-cheko.border-1.cheko-border-color-1
                %textarea#prompt.block.mx-4.w-full.text-sm.bg-new-cheko.cheko-text-1.rounded-full.resize-none.border-0.focus:ring-transparent.focus:border-0{class: "p-2.5", placeholder: "Ask Cheko AI..", rows: "1"}
                %button.inline-flex.justify-center.p-2.cheko-text-color-2.rounded-full.cursor-pointer.hover:bg-blue-100{type: "submit"}
                  %i.fa-solid.fa-circle-arrow-up.text-2xl
                  %span.sr-only Send message


= javascript_pack_tag 'gpt3', 'data-turbolinks-track': 'reload'
