= render 'admins/shared/header'
.row 
  .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto 
    .container.mt-5
      .card 
        .card-body
          .row 
            .col-6.text-start
              %h3 Documents
          .table-responsive
            %table.table
              %thead
                %tr
                  %th.text-start id
                  %th.text-center Owner
                  %th.text-center Email
                  %th.text-end Action
              %tbody
                - unless @docuss.blank?
                  - @docuss.each do |docu|
                    %tr
                      %td.text-start= docu.id
                      %td.text-center= docu.user.name 
                      %td.text-center= docu.user.email
                      %td.text-end
                        = link_to :show, admins_docu_path(docu)
                        = link_to :delete, admins_docu_path(docu), method: :delete
                -else
                  %td No Data found
              