= render 'users/shared/header'
.container.mt-3
  .row
    .col-sm-12.col-md-12.col-lg-6.ms-auto.me-auto.mt-2.p-4
      .d-grid.gap-5
        %a.btn.bg-cheko.text-white.btn-xl{href: users_homeworks_path}
          .h2 HW-Help
        %button.btn.bg-cheko.text-white.position-relative.btn-xl{type: "button"}
          .h2 Past Documents
          %span.position-absolute.top-0.translate-middle.badge.rounded-pill.bg-danger{style: "left: 90%"}
            Coming Soon
            %span.visually-hidden unread messages
    .col-sm-12.col-md-12.col-lg-6.ms-auto.me-auto.mt-2.p-4
      .d-grid.gap-5
        %a.btn.bg-cheko.text-white.btn-xl{href: professors_path}
          .h2 Profs to Pick
        %a.btn.bg-cheko.text-white.btn-xl{href: users_qnas_path}
          .h2 Q&A

:javascript
  window.addEventListener("chatwoot:ready", function () { 
    var emailUser = '#{current_user.email}'
    var nameUser = '#{current_user.name}'
    var hasssh = '#{current_user.identifier_string}'
    var identifier = '#{current_user.id}-client'
  //  window.$chatwoot.setUser('#{current_user.email}', {
  //    name: '#{current_user.name}',
  //    email: '#{current_user.email}',
  //    phone_number: '',
  //    avatar_url: '',
  //    identifier_hash: '#{current_user.identifier_string}',
  //    social_profiles: {
  //      github: "Bret-koda", // Github user name
  //    },
  //  });

    window.$chatwoot.setUser(identifier, {
      email: emailUser,
      name: nameUser,
      identifier_hash: hasssh,
    });

    window.$chatwoot.setCustomAttributes({
      accountId: '#{current_user.id}-client',
      note: "THIS IS A TEST NOTE",
    });
  });

  window.chatwootSettings = {
    type: "expanded_bubble",
    launcherTitle: "Chat with us",
  };
  
  (function(d,t) {
    var BASE_URL="http://172.104.186.240:3000";
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=BASE_URL+"/packs/js/sdk.js";
    g.defer = true;
    g.async = true;
    s.parentNode.insertBefore(g,s);
    g.onload=function(){
      window.chatwootSDK.run({
        websiteToken: 'bpjSbW1AYgZDMj7VZotXqRoU',
        baseUrl: BASE_URL
      })
    }
  })(document,"script");

    