= render 'admins/shared/header'
.row
  .col-1
    = render 'admins/shared/sidebar'
  .col-11
    .row 
      .col-xl-10.col-lg-10.col-sm-12.ms-auto.me-auto 
        .container-flex.mt-5
          .card 
            .card-body
              .row 
                .col-6.text-start
                  %h3 Tutors
                .col-6.text-end 
                  = link_to "New Tutor", new_admins_tutor_path, class: "btn btn-primary"
              -if flash.any?
                .row.text-center
                  - flash.each do |type, msg|
                    .col-lg-12.col-md-12.col-sm-12.alert.mt-3.mb-3{class: type == "alert" ? "alert-danger" : "alert-success"}
                      = msg
              .table-responsive
                %table.table#datatable
                  %thead
                    %tr
                      %th.text-start id
                      %th.text-center Name
                      %th.text-center Email
                      %th.text-center Status
                      %th.text-end Action
                  %tbody
                    - unless @tutors.blank?
                      - @tutors.each do |tutor|
                        %tr
                          %td.text-start= tutor.id
                          %td.text-center= tutor.name
                          %td.text-center= tutor.email 
                          %td.text-center= tutor.status.capitalize
                          %td.text-end
                            %a.fas.fa-eye.text-success.font-16.mr-3{href: admins_tutor_path(tutor)}
                            %a.fas.fa-pen.text-primary.font-16.mr-3{href: edit_admins_tutor_path(tutor)}
                            = link_to '', admins_tutor_path(tutor), method: :delete, data: {confirm: "Are you sure?"}, class: "fas fa-trash text-danger font-16 mr-3"
= javascript_pack_tag 'datatable_basic'