= render 'admins/shared/header'
= render 'admins/shared/sidebar'
.row 
  .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto 
    .container.mt-5
      .card 
        .card-body
          .row 
            .col-12.text-start 
              %h5 Add Tutor
              -if flash.any?
                .row.text-center
                  - flash.each do |type, msg|
                    .col-lg-12.col-md-12.col-sm-12.alert.mt-3.mb-3{class: type == "alert" ? "alert-danger" : "alert-success"}
                      = msg
            .col-6.ms-auto.me-auto
              = form_for @tutor, url: admins_tutors_path, method: :post do |f|
                .mb-3
                  .field
                    = f.label :first_name, class: "form-label"
                    = f.text_field :first_name, class: "form-control", required: true
                .mb-3
                  .field
                    = f.label :last_name, class: "form-label"
                    = f.text_field :last_name, class: "form-control", required: true
                .mb-3
                  .field
                    = f.label :email, class: "form-label"
                    = f.email_field :email, class: "form-control", required: true
                .mb-3
                  .field
                    = f.label :password, class: "form-label"
                    = f.password_field :password, class: "form-control", required: true
                .mb-3
                  .actions
                    = f.submit "Create", class: "btn btn-primary"
= javascript_pack_tag 'tutors/new'