%tr
  %td= home.name
  %td= home.user.name
  %td= home.tutor_category.titleize
  %td= home.tutor.name     if home.tutor_id.present?
  %td= home.sub_tutor.name if home.sub_tutor_id.present?
  %td= home.admin.name
  %td= home.manager.name   if home.manager_id.present?
  %td= home.id
  %td= home.internal_deadline.strftime("%b %d, %Y - %l:%M %p") if home.internal_deadline.present?
  %td= home.updates
  %td= home.deadline.strftime("%b %d, %Y - %l:%M %p")
  %td= home.subject
  %td= home.sub_subject
  %td= home.file_received
  %td= home.hours_late
  %td
    %a.fas.fa-eye.text-success.font-16.mr-3{href: quality_officers_homework_path(home)}
    -# = link_to :show, admins_homework_path(home)