%tr
  %td.text-start= home.name
  %td.text-center= home.created_at.strftime("%B %d, %Y") 
  %td.text-center= home.order_type.titleize
  %td.text-center= home.sub_type.titleize
  %td.text-center= home.deadline.strftime("%B %d, %Y")
  %td.text-center= home.subject
  %td.text-center= home.tutor_category.titleize
  %td.text-center= home.words
  %td.text-center= home.priority
  %td.text-center= home.login_school
  %td.text-center= home.user.name
  %td.text-center= home.tutor.name
  %td.text-center= home.sub_tutor.name if home.sub_tutor.present?
  %td.text-center= home.id
  %td.text-center= home.hours_late
  %td.text-center= home.prof
  %td.text-center= home.grade
  %td.text-center= home.status
  %td.text-end
    %button.btn.btn-primary{"data-bs-target" => "#exampleModal#{home.id}", "data-bs-toggle" => "modal", type: "button"}
      Launch demo modal
  
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1", id: "exampleModal#{home.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title= home.name
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      .modal-body
        =form_tag(upload_tutors_homeworks_path) do
          = hidden_field_tag "homework_id", home.id
          = label_tag "document", "file"
          = file_field_tag "file"
          = submit_tag "Upload", class: "btn btn-primary"
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", type: "button"} Close
        -# %button.btn.btn-primary{type: "button"} Save changes