= render 'admins/shared/header'
= render 'admins/shared/sidebar'
.row 
  .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto 
    .container.mt-5
      .card 
        .card-body
          .row 
            .col-12.text-start 
              %h5 Update User
            .col-6.ms-auto.me-auto
              = form_for @user, url: admins_user_path, method: :put do |f|
                .mb-3
                  .field
                    = f.label :first_name, class: "form-label"
                    = f.text_field :first_name, class: "form-control", required: true
                .mb-3
                  .field
                    = f.label :last_name, class: "form-label"
                    = f.text_field :last_name, class: "form-control", required: true
                -# .mb-3
                -#   .field
                -#     = f.label :email, class: "form-label"
                -#     = f.email_field :email, class: "form-control", required: true
                -# .mb-3
                -#   .field
                -#     = f.label :password, class: "form-label"
                -#     = f.password_field :password, class: "form-control", required: true
                .mb-3
                  .actions
                    = f.submit "Update", class: "btn btn-primary"