= render "users/shared/header"
.container.my-5{style: "height:100%"}
  .row
    .alert.alert-primary{role: "alert"}
      .text-center
        %h5 
          You can call or text us here: 
          %a{href: "tel: 0963 646 8276"} 0963 646 8276, 
          you may also message us on Telegram, Viber or Whatsapp with the same number from 8am to 5pm.
        %h5 Alternatively, you can message us on FB through @chekoworks or contact us through the form below:
  .row
    .col-10.ms-auto.me-auto
      = form_for @contact, url: contacts_path do |f|
        .mb-3
          .field
            = f.label :full_name, class: "form-label"
            = f.text_field :full_name, class: "form-control"
        .mb-3
          .field
            = f.label :email, "Email Address", class: "form-label"
            = f.email_field :email, class: "form-control"
        .mb-3
          .field
            = f.label :phone_number, class: "form-label"
            = f.text_field :phone_number, class: "form-control"
        .mb-3
          .field
            = f.label :message, class: "form-label"
            = f.text_area :message, class: "form-control"
        .mb-3
          .field
            .d-grid.gap-2
              = f.submit "Submit", class: "btn btn-lg btn-warning text-white"
  .col-xl-6.col-lg-6.col-md-6.col-sm-12{style: "padding: 4em;"}
= render "users/shared/footer"