%main.h-screen.flex.relative
  = render "users/shared/sidebar"
  .flex.flex-col.p-4.flex-1.my-2.5.mr-2.5.rounded-lg.bg-neutral-900.border-1.border-neutral-700.overflow-auto
    .container.mt-5
      .card.bg-neutral-800
        .card-body
          .row
            .col-12.text-start
              %h5.text-white= "Add Homework - #{params[:title].present? ? params[:title].titleize : params[:type].titleize}"
            .col-xl-8.col-lg-10.col-md-12.ms-auto.me-auto
              - case params[:type]
              - when 'essay'
                = render 'pages/essay'
              - when 'code'
                = render 'pages/code'
              - when 'math'
                = render 'pages/math'
              - when 'art'
                = render 'pages/art'
              - when 'law'
                = render 'pages/law'
              - when 'science'
                = render 'pages/science'
              - when 'economics'
                = render 'pages/economics'
              - when 'robotics'
                = render 'pages/robotics'
              - when 'sketchup'
                = render 'pages/sketchup'
              - when 'foreign_language'
                = render 'pages/foreign_language'
              - when 'thesis'
                = render 'pages/thesis'
              - else
                .mb-3
                  %h5 Type of homework is not yet supported


= javascript_pack_tag 'homeworks/new'
