= render 'users/shared/header'
.row 
  .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto 
    .container.mt-5
      .card 
        .card-body
          .row 
            .col-8.ms-auto.me-auto
              - case params[:type]
              - when 'essay'
                = render 'pages/essay'
              - when 'group'
                = render 'pages/group'
              - when 'code'
                = render 'pages/code'
              - when 'math'
                = render 'pages/math'
              - when 'art'
                = render 'pages/art'
              - when 'translation'
                = render 'pages/translation'
              - when 'law_related_tasks'
                = render 'pages/law'
              - when 'science'
                = render 'pages/science'
              - when 'economics'
                = render 'pages/economics'
              - when 'robotics'
                = render 'pages/robotics'
              - when 'sketchup'
                = render 'pages/sketchup'
              - when 'foreign_language'
                = render 'pages/foreign_language'
              - when 'thesis'
                = render 'pages/thesis'
              - when 'module'
                = render 'pages/module'
              - else
                .mb-3
                  %h5 Type of homework is not yet supported
= javascript_pack_tag 'homeworks/new'