= render 'users/shared/header'

.container.mt-5
  .row
    .col-3
      .card.bg-dark.text-white
        = image_tag "Essay2.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Essay
          %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order
    .col-3
      .card.bg-dark.text-white
        = image_tag "Math2.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Math
          %a.btn.btn-primary.stretched-link{href: new_path(type: "math")} Order
    .col-3
      .card.bg-dark.text-white
        = image_tag "Translations2.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Translation
          %a.btn.btn-primary.stretched-link{href: new_path(type: "translation")} Order
    .col-3
      .card.bg-dark.text-white
        = image_tag "Coding2.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Code
          %a.btn.btn-primary.stretched-link{href: new_path(type: "code")} Order
    .col-3.mt-3
      .card.bg-dark.text-white
        = image_tag "Art2.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Art
          %a.btn.btn-primary.stretched-link{href: new_path(type: "art")} Order
    .col-3.mt-3
      .card.bg-dark.text-white
        = image_tag "Group-Assignments.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Group Assignment
          %a.btn.btn-primary.stretched-link{href: new_path(type: "group")} Order
    .col-3.mt-3
      .card.bg-dark.text-white
        = image_tag "Law.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Law Related Tasks
          %a.btn.btn-primary.stretched-link{href: new_path(type: "law_related_tasks")} Order
    .col-3.mt-3
      .card.bg-dark.text-white
        = image_tag "Sciences.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Science
          %a.btn.btn-primary.stretched-link{href: new_path(type: "science")} Order
    .col-3.mt-3
      .card.bg-dark.text-white
        = image_tag "Economics.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Economics
          %a.btn.btn-primary.stretched-link{href: new_path(type: "economics")} Order
    .col-3.mt-3
      .card.bg-dark.text-white
        = image_tag "Autocad.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Sketchup & Autocad
          %a.btn.btn-primary.stretched-link{href: new_path(type: "sketchup")} Order
    .col-3.mt-3
      .card.bg-dark.text-white
        = image_tag "Foreign-languages.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Foreign Language
          %a.btn.btn-primary.stretched-link{href: new_path(type: "foreign_language")} Order
    .col-3.mt-3
      .card.bg-dark.text-white
        = image_tag "Robotics.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Robotics/Machine Learning
          %a.btn.btn-primary.stretched-link{href: new_path(type: "robotics")} Order
    .col-3.mt-3
      .card.bg-dark.text-white
        = image_tag "Module.png", class: "card-img-top" 
        .card-pick-type
          %h5.card-title Module
          %a.btn.btn-primary.stretched-link{href: new_path(type: "module")} Order