%main.h-screen.flex.relative
  = render "users/shared/sidebar"
  .flex.flex-col.p-4.flex-1.my-2.5.mr-2.5.rounded-lg.bg-neutral-900.border-1.border-neutral-700.overflow-auto
    .container.my-5
      .row
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Essay2.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Essay
              %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Math2.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Math
              %a.btn.btn-primary.stretched-link{href: new_path(type: "math")} Order
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Coding2.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Code
              %a.btn.btn-primary.stretched-link{href: new_path(type: "code")} Order
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Art2.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Art
              %a.btn.btn-primary.stretched-link{href: new_path(type: "art")} Order
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Law.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Law
              %a.btn.btn-primary.stretched-link{href: new_path(type: "law")} Order
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Sciences.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Science
              %a.btn.btn-primary.stretched-link{href: new_path(type: "science")} Order
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Economics.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Economics
              %a.btn.btn-primary.stretched-link{href: new_path(type: "economics")} Order
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Autocad.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Engineering, Sketchup & Autocad
              %a.btn.btn-primary.stretched-link{href: new_path(type: "sketchup", title: "Engineering, Sketchup & Autocad")} Order
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Foreign-languages.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Translations & Foreign Language
              %a.btn.btn-primary.stretched-link{href: new_path(type: "foreign_language", title: "Translations & Foreign Language")} Order
        .col-sm-12.col-md-3.mt-3
          .card.bg-dark.text-white
            = image_tag "Robotics.png", class: "card-img-top"
            .card-pick-type
              %h5.card-title Robotics/Machine Learning
              %a.btn.btn-primary.stretched-link{href: new_path(type: "robotics")} Order
