=render "users/shared/header"

.container-fluid{:style => "background-image: url(#{image_path "doodads-bg.png"}); background-color:#f0f0f0;"}
  .row
    .col-xl-6.col-lg-6.col-md-12.col-sm-12
      .container
        = image_tag "asian-how-it-works-mascot-min-crop.png", class: "card-img-top", style: "height:400px; object-fit: contain;"
    .col-xl-6.col-lg-6.col-md-12.col-sm-12
      .container
        %h1{:style => "padding: 3em;"} Pricing
.container
  .row{style: "row-gap: 25px; padding-top: 50px;"}
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h3{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"}  
              %a{href:"/pick_type"}
                %u HW Help
            %p "Starts at 500"
            %p Essays:
            %ul
              %li B+ to A grade: ₱2.50 per word
              %li B to A grade: ₱1.60 per word
              %li C to A grade: ₱1 per word
            %ul
              %li
                %em An order that is worth ₱5,000 to P9,999 automatically gets a 20% discount on the total SRP. 
              %li
                %em An order that is worth ₱10,000 above automatically gets a 35% discount on the total SRP. 
              
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "profstopick1.jpg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h3{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} 
              %a{href:"/professors"}
                %u Profs to Pick

            %p FREE
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Economics.jpg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3  
            %h3{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} 
              %a{href:"/qnas/pick_type"}
                %u Q&A

            %p Nothing Above ₱500
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "ai-image.jpg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h3{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} 
              %a{href:"/cheko-ai"}
                %u Cheko AI
            %p FREE
  
.col-xl-6.col-lg-6.col-md-6.col-sm-12{style: "padding: 2em;"}
    
= render "users/shared/footer"

    