= render "users/shared/header"
.container.my-5
  .row  
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Essays

            %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
            %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Art-Project.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Art Projects

            %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
            %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Math.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3  
            %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Math & Computation

            %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
            %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Translations.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Translations & Foreign Languages

            %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
            %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Law.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Law

            %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
            %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-xl-6.col-lg-6.col-md-6.col-sm-12
    
= render "users/shared/footer"