= render "users/shared/header"
.container.my-5
  .row{style: "row-gap: 25px;"}
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} HW-Help

            %p A Task Manager will connect you to a subject-expert for homework help. We only hire the best tutors and train them
            %a.btn.btn-primary{href: pick_type_path } Order here
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "profstopick1.jpg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Profs To Pick

            %p A database that organizes comments and ratings on profs from students themselves. You can rate your prof here too
            %a.btn.btn-primary{href: professors_path} Try it here
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Economics.jpg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3  
            %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Q&A

            %p 
              Get quick answers to short questions. Q&A is Cheko’s 
              %b Question 
              and 
              %b Answer 
              platform where you can ask our experts anything!
            %a.btn.btn-primary{href: pick_type_qnas_path} Order here
    .col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "ai-image.jpg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container.mb-3
            %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Cheko AI

            %p An AI-academic assistant to help you get your homework done.
            %a.btn.btn-primary{href: cheko_ai_path} Try it here
    -# .col-md-6.col-sm-12
    -#   .row
    -#     .col-xl-6.col-lg-6.col-md-12.col-sm-12
    -#       .container
    -#         = image_tag "Law.jpeg", class: "card-img-top" 
    -#     .col-xl-6.col-lg-6.col-md-12.col-sm-12
    -#       .container.mb-3
    -#         %h5{style: "padding-top: 15px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Law

    -#         %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
    -#         -# %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-xl-6.col-lg-6.col-md-6.col-sm-12{style: "padding: 2.2em;"}
    
= render "users/shared/footer"