= render "users/shared/header"
.container.mt-3.mb-3
  .row  
    .col-xl-6.col-lg-6.col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          %h5{style: "padding-top: 25px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Essays

          %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
          %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-xl-6.col-lg-6.col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          %h5{style: "padding-top: 25px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Essays

          %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
          %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-xl-6.col-lg-6.col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          %h5{style: "padding-top: 25px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Essays

          %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
          %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-xl-6.col-lg-6.col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          %h5{style: "padding-top: 25px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Essays

          %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
          %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-xl-6.col-lg-6.col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          %h5{style: "padding-top: 25px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Essays

          %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
          %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-xl-6.col-lg-6.col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          %h5{style: "padding-top: 25px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Essays

          %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
          %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-xl-6.col-lg-6.col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          %h5{style: "padding-top: 25px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Essays

          %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
          %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here
    .col-xl-6.col-lg-6.col-md-6.col-sm-12
      .row
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .container
            = image_tag "Essay.jpeg", class: "card-img-top" 
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          %h5{style: "padding-top: 25px; margin: 0px; color: rgb(0, 74, 173); --fontSize: 24; line-height: 1.4;"} Essays

          %p We can write all types of academic essays. Philosophy, Theology, Business, and even Filipino essays!
          %a.btn.btn-primary.stretched-link{href: new_path(type: "essay")} Order here