= render 'tutors/shared/header'
= hidden_field_tag "chat_id", @qna.chat.id, id: "chat_id"
= hidden_field_tag "qna_id", @qna.id, id: "qna_id"
= hidden_field_tag "type", "tutor", id: "type"
.container.mt-5
  .row
    .card{class: "bg-#{cookies[:theme]}"}
      .card-body
        .row 
          .col-10.text-start 
            %h5= "#{@qna.subject.titleize}"
          .col-2
            = link_to  "Cancel", tutors_qna_cancel_path(qna_id: @qna.id), class: "btn btn-danger"
          - if @qna.document.attached?
            .col-12
              %h6 Download file
              =link_to @qna.document.filename, rails_blob_path(@qna.document, disposition: 'attachment'),class: "btn btn-success" 
          %hr.mt-3
          .col-xl-10.col-lg-10.col-md-12.ms-auto.me-auto
            %p= @qna.question
  .row.mt-3.mb-5
    .card{class: "bg-#{cookies[:theme]}"}
      .card-body
        .container#messages{style: "overflow: auto; height: 550px;"}
          - @qna.chat.messages.order(id: :asc).each do |msg|
            - if msg.sendable_type == "Tutor"
              .row.mt-3
                .col-6.ms-auto.text-white.rounded.pt-2
                  -# {style: "background: #24a64d"}
                  %div.ms-auto.rounded{style: "padding: 10px; width: 20em; background: #24a64d"}
                    %div.ms-auto{style: "width: -moz-fit-content; width: fit-content"}You
                    %div.ms-auto{style: "width: -moz-fit-content; width: fit-content"}= msg.content
                    - if msg.document.attached?
                      %div.ms-auto{style: "width: -moz-fit-content; width: fit-content"}
                        -# %a{href: msg.content} Document
                        = link_to  "Download", rails_blob_path(msg.document, disposition: 'attachment')
            - else 
              .row.mt-3
                .col-6.me-auto.text-white.rounded.pt-2
                  -# {style: "background: #24a64d"}
                  %div.me-auto.rounded{style: "padding: 10px; width: 20em; background: #c97b0c"}
                    %div.me-auto{style: "width: -moz-fit-content; width: fit-content"}User012345
                    %div.me-auto{style: "width: -moz-fit-content; width: fit-content"}= msg.content
                    - if msg.document.attached?
                      %div.me-auto{style: "width: -moz-fit-content; width: fit-content"}
                        -# %a{href: msg.content} Document
                        = link_to "Download", rails_blob_path(msg.document, disposition: 'attachment')
        .container#text-box.mt-3
          - if @qna.tutor_id.present?
            = form_for @message, url: tutors_qna_messages_path(qna_id: @qna.id, chat_id: @qna.chat.id) do |f|
              .row
                .col-4
                  = f.file_field :document, class: "form-control"
                .col-8
                  = f.text_field :content, class: "form-control", autocomplete: 'off'
            -# = form_for @message, url: tutors_qna_messages_path(qna_id: @qna.id, chat_id: @qna.chats.first.id) do |f|
            -#   .row
            -#     .col-4
            -#       = f.file_field :document, class: "form-control"
            -#     .col-6
            -#       = f.text_field :content, class: "form-control"
= javascript_pack_tag 'messages/new'
:javascript
  var element = document.getElementById("messages");
  element.scrollTop = element.scrollHeight;