= render 'admins/shared/header'
.row 
  .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto 
    .container.mt-5
      .card 
        .card-body
          .row 
            .col-12.text-start 
              %h5 Update Manager
            .col-6.ms-auto.me-auto
              = form_for @manager, url: admins_manager_path, method: :put do |f|
                .mb-3
                  .field
                    = f.label :first_name, class: "form-label"
                    = f.text_field :first_name, class: "form-control", value: @manager.first_name, required: true
                .mb-3
                  .field
                    = f.label :last_name, class: "form-label"
                    = f.text_field :last_name, class: "form-control", value: @manager.last_name, required: true
                .mb-3
                  .field
                    = f.label :email, class: "form-label"
                    = f.email_field :email, class: "form-control", value: @manager.email, required: true
                .mb-3
                  .actions
                    = f.submit "Update", class: "btn btn-primary"