%section.d-flex.align-items-center.justify-content-center.rounded-3.parent
  .container
    .row.d-flex.justify-content-center.h-100
      .card.my-4.bg-transparent.border-0.w-50
        .card-img-top.text-center.mb-5
          = image_tag "logo-white.png", id: 'logo-image'
        .card-body
          - if flash.any?
            .row.text-center
              - flash.each do |type, msg|
                .col-lg-12.col-md-12.col-sm-12.alert.mt-3.mb-3{class: type == "alert" ? "alert-danger" : "alert-success"}
                  = msg
          = form_for(resource, as: resource_name, url: user_session_path) do |f|
            .row.mb-2
              .form-outline
                = f.email_field :email, class: "form-control form-control-sm text-input cheko-text-1", placeholder: "Email Address", autofocus: true, autocomplete: "email"
            .row.mb-3
              .form-outline 
                = f.password_field :password, class: "form-control form-control-sm text-input cheko-text-1", placeholder: "Password", autocomplete: "current-password"
                %i#togglePassword.bi.bi-eye
            .row.submit.mb-3
              = button_tag "Submit", class: "submit-btn rounded-2" do
                %span
                  %i.bi.bi-box-arrow-in-right
                  Login
            .d-flex.justify-content-evenly
              = link_to "Create account", new_user_registration_path, class: "sign-in-link"
              %span.sign-in-link
                |
              = link_to "Forgot Password", new_user_password_path(resource_name), class: "sign-in-link"
= javascript_pack_tag 'user/sign_in'