= render 'users/shared/header'
.container
  .row 
    .col-6.ms-auto.me-auto.mt-5
      .card 
        .card-body
          %h2 Users Log in
          -if flash.any?
            .row.text-center
              -# %ul.alert.alert-danger
              - flash.each do |type, msg|
                .col-lg-12.col-md-12.col-sm-12.alert.alert-danger.mt-3.mb-3
                  = msg
          = form_for(resource, as: resource_name, url: user_session_path) do |f|
            .mb-3
              .field
                = f.label :email, class: "form-label"
                %br/
                = f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email"
            .mb-3
              .field
                = f.label :password, class: "form-label"
                %br/
                = f.password_field :password, class: "form-control", autocomplete: "current-password"
            .mb-3
              .actions
                = f.submit "Log in", class: "btn btn-primary"
          = link_to "Register", new_user_registration_path
          %br
          = link_to "Forgot your password?", new_user_password_path(resource_name)