:javascript
  window.addEventListener("chatwoot:ready", function () { 
    var emailUser = '#{current_tutor.email}'
    var nameUser = '#{current_tutor.name}'
    var hasssh = '#{current_tutor.identifier_string}'
    var identifier = '#{current_tutor.id}-tutor'

    window.$chatwoot.setUser(identifier, {
      email: emailUser,
      name: nameUser,
      identifier_hash: hasssh,
    });

    window.$chatwoot.setCustomAttributes({
      accountId: '#{current_tutor.id}-tutor',
    });
  });

  window.chatwootSettings = {
    type: "standard",
    launcherTitle: "",
  };
  
  (function(d,t) {
    var BASE_URL="http://172.104.186.240:3000";
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=BASE_URL+"/packs/js/sdk.js";
    g.defer = true;
    g.async = true;
    s.parentNode.insertBefore(g,s);
    g.onload=function(){
      window.chatwootSDK.run({
        websiteToken: 'Gfm9QnBUJk6qXtCvNMMBLWZY',
        baseUrl: BASE_URL
      });
    }
  })(document,"script");